In [1]:
import pandas as pd, numpy as np

In [3]:
df = pd.read_csv("data/game_raw.csv")
df = df.drop(df.columns[0],axis = 1)

In [22]:
df.head()

,date,game_center,geo_location,attendance,capacity,guest,home
0,2016-10-11 21:30:00,Golden 1 Center,"SACRAMENTO, CA",16000,17500,Haifa,Kings
1,2016-10-19 21:00:00,Golden 1 Center,"SACRAMENTO, CA",16000,17500,Clippers,Kings
2,2016-10-07 18:30:00,Greensboro Coliseum,"Greensboro, NC",8021,23309,Celtics,Hornets
3,2016-10-05 18:00:00,Mullins Center,"Amherst, MA",4532,9493,Celtics,76ers
4,2016-10-15 18:00:00,Air Canada Centre,"Toronto, ON",15113,19800,Lorenz,Raptors

In [9]:
for i in df["guest"].drop_duplicates():

Haifa
Clippers
Celtics
Lorenz
Bucks
Bulls
Pacers
Cavaliers
Hornets
Spurs
Pistons
Raptors
Magic
Hawks
Pelicans
Nets
Knicks
Mavericks
Rockets
Nuggets
Blazers
Timberwolves
Heat
Grizzlies
Shanghai
Jazz
76ers
Suns
Thunder
Lakers
Wizards
Kings
Warriors

In [18]:
sac_1 = df[df["guest"] == "Kings"]
sac_2 = df[df["home"] == "Kings"]

In [21]:
sac

38

In [15]:
df["guest"] == "Kings" or df["home"] == "Kings"]

SyntaxError: invalid syntax (<ipython-input-15-7487e323ecb0>, line 1)

In [11]:
len(df)

1292

In [19]:
import pandasql as ps
q = 'select * from df where guest = "Kings" union select * from df where home = "Kings"'
Kings = ps.sqldf(q, globals())

In [21]:
len(Kings)

79

In [26]:
q1 = 'select distinct game_center, capacity from df'

In [27]:
cap = ps.sqldf(q1, globals())

In [28]:
cap

                   game_center  capacity
0              Golden 1 Center     17500
1          Greensboro Coliseum     23309
2               Mullins Center      9493
3            Air Canada Centre     19800
4                United Center     20917
5      Bankers Life Fieldhouse     18165
6    BMO Harris Bradley Center     18717
7   The Palace of Auburn Hills     22076
8                Philips Arena     18729
9           Wells Fargo Center     20318
10                  FedExForum     18119
11         Quicken Loans Arena     20562
12                Amway Center     18500
13                 AT&T Center     18581
14           Mohegan Sun Arena     10000
15       Madison Square Garden     19763
16                   TD Garden     18624
17  Talking Stick Resort Arena     18422
18    American Airlines Center     19200
19                 Moda Center     19441
20                ORACLE Arena     19596
21             Spectrum Center     19077
22               Target Center     19356
23               Toyota Center     18104
24              STAPLES Center     19060
25     Vivint Smart Home Arena     19911
26     Chesapeake Energy Arena     18203
27      AmericanAirlines Arena     19600
28        Smoothie King Center     17188
29                Pepsi Center     19155
30              Verizon Center     20173